/* Link, button classes */
.btn-large-blue-outline {
  padding: 1em 2em;
  margin: 1em 0;
  border-radius: 25px;
  color: $accent;
  box-shadow: inset 0 0 0 2px $accent;
  text-decoration: none;
  display: block;
  outline: none;
  animation: normal;
  transition: all 1s;
}

.btn-large-blue-outline:hover {
  text-decoration: underline;
}

.btn-large-blue-outline:focus {
  box-shadow: inset 0 0 0 2px $accent, 0 0 0 2px rgb(0 0 0 / 75%);
}