
/* Range Slider */
.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 25px;
  padding: .1em;
}

.slider:focus {
  box-shadow: 0 0 0 1pt rgb(0 0 0 / 85%);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $accent;
}

.slider::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  border-radius: 50%;
  background: $accent;
}

/* Color Pickers */
input[type='color'] {
  border: none;
  background: none;
}

.cag-controls-panel__demo-controls--subtitle {
  padding: .2em 0;
}