.cag-controls-panel__demo-controls {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  border: 1px solid #dfdfdf;
  background-color: #ffffff;
  justify-content: space-around;
  padding: 1em;
}
